{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <h5 class="display-6">Insert dedication</h5>
        <p class="lead">Here you can add a new activity.</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="users" value="{{ user.id }}">
            <label for="id_date">Date:</label>
            <input type="date" id="id_date" class="calendar" name="date">
            <label for="id_tasks">Task:</label>
            <select id="id_tasks" class="dropdown" name="tasks">
                <option value="">--Select task--</option>
                {% for task in tasks %}
                    <option value="{{ task.id }}">({{ task.code }}) {{ task.name }}</option>
                {% endfor %}
            </select>
            <label for="id_start_time">Start time:</label>
            <input type="time" id="id_start_time" name="start_time">
            <label for="id_end_time">End time:</label>
            <input type="time" id="id_end_time" name="end_time">
            <label for="id_description">Description:</label>
            <input type="text" id="id_description" class="description" name="description">
            <input class="btn btn-info" type="submit" value="Save">
        </form>

        <!-- Shows the error messages as separated divs -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <hr />

        <h5 class="display-6">Today's dedications</h5>
        <p class="lead">These are all the activities you have registered today.</p>

        {% if occupations %}
            <table>
                <thead>
                    <th>Date</th>
                    <th>Task</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for occupation in occupations %}
                        <tr>
                            <td>
                                <input type="date" value="{{ occupation.date }}" readonly>
                            </td>
                            <td>
                                <input type="text" value="{{ occupation.tasks }}" class="dropdown" readonly>
                            </td>
                            <td>
                                <input type="time" value="{{ occupation.start_time }}" readonly>
                            </td>
                            <td>
                                <input type="time" value="{{ occupation.end_time }}" readonly>
                            </td>
                            <td>
                                <input type="text" value="{{ occupation.description }}" class="description" readonly>
                            </td>
                            <td>
                                <a href="{% url 'edit_occupation' occupation.id %}">
                                    <button class="btn btn-info">Edit</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_occupation' occupation.id %}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lead">No dedications to show.</p>
        {% endif %}
    </div>
{% endblock %}