{% extends 'base.html' %}

{% block content %}
    <h5 class="display-6">Registered dedications</h5>
    <p class="lead">These are all the activities you have registered during the last month.</p>

    <div>
        {% if occupations %}
            <table>
                <thead>
                    <th>Date</th>
                    <th>Task</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for occupation in occupations %}
                        <tr>
                            <td>
                                <input type="date" value="{{ occupation.date }}" readonly>
                            </td>
                            <td>
                                <input type="text" value="{{ occupation.task }}" class="dropdown" readonly>
                            </td>
                            <td>
                                <input type="time" value="{{ occupation.start_time }}" readonly>
                            </td>
                            <td>
                                <input type="time" value="{{ occupation.end_time }}" readonly>
                            </td>
                            <td>
                                <input type="text" value="{{ occupation.description }}" class="description" readonly>
                            </td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-info">Edit</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_occupation' occupation.id %}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lead">No occupations to show.</p>
        {% endif %}
    </div>
{% endblock %}